body {
	background-color:#f000ff;

	}
h1, h2, h3{
	margin:0;
	}
h1 {
	padding: 20px 15px;
	color:blue;
	font-family:"Helvetica", sans-serif;
	}
h2{
	color: purple;
	}
h3{
	color: green;
}

p{
padding: 50px;
}
article{
	width: 250px;
	padding: 20px;
	float:left;
	margin: 20px;
	background-color:#f000ff;
	}
ul{
list-style-type:none;}
.wrap{
	margin: 0 10%;
	width: 800 px;
	background-color:#ee82ee;
	
}
.hobby{
	margin: 0 10%;
	width: 600 px;
	
	
}




 footer{
clear: both;
background-color:#fa8072;
}

